@page
@model WebAppAutorization.Pages.Admins.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h5>Редактирование страниц доступа (роли) в приложении</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EditRole.Name" class="control-label">Наименование страницы доступа (роли)</label>
                <input asp-for="EditRole.Name" class="form-control" />
                <span asp-validation-for="EditRole.Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EditRole.Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" /> |
                <a asp-page="./Index">Вернуться в список</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
