@page
@model WebAppAutorization.Pages.Resources.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редактирование</h1>

<h4>Ресурсы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Resource.Id" />
            <div class="form-group">
                <label asp-for="Resource.ResName" class="control-label"></label>
                <input asp-for="Resource.ResName" class="form-control" />
                <span asp-validation-for="Resource.ResName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться в список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
