@page
@model WebAppAutorization.Pages.Shablons.OrderCreateModel

@{
    ViewData["Title"] = "OrderCreate";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Создание записи</h1>

<h4>Строка</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-2">
               <label asp-for="Order.sheetfId" class="control-label"></label>
               <select asp-for="Order.sheetfId" class="form-control" asp-items="ViewBag.sheetfId"></select>
               <span asp-validation-for="Order.sheetfId" class="text-danger"></span>
            </div>
            <div class="col-sm-4">
                <label asp-for="Order.ResName" class="control-label"></label>
                <select asp-for="Order.ResName" class="form-control" asp-items="ViewBag.ResName"></select>
                <span asp-validation-for="Order.ResName" class="text-danger"></span>
            </div>
            <div class="row mb-1">
                 <div class="col-sm-8">
                    <label asp-for="Order.ProductName" class="control-label"></label>
                    <select asp-for="Order.ProductName" class="form-control" asp-items="ViewBag.ProductName"></select>
                    <span asp-validation-for="Order.ProductName" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Order.ProductEdIzm" class="control-label"></label>
                    <input asp-for="Order.ProductEdIzm" class="form-control" />
                    <span asp-validation-for="Order.ProductEdIzm" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Order.OverLimit" /> @Html.DisplayNameFor(model => model.Order.OverLimit)
                    </label>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Order.Calories" class="control-label"></label>
                    <input asp-for="Order.Calories" class="form-control" />
                    <span asp-validation-for="Order.Calories" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm-2">
                    <label asp-for="Order.ProductCount" class="control-label"></label>
                    <input asp-for="Order.ProductCount" class="form-control" />
                    <span asp-validation-for="Order.ProductCount" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Order.ProductTarif" class="control-label"></label>
                    <input asp-for="Order.ProductTarif" class="form-control" />
                    <span asp-validation-for="Order.ProductTarif" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Order.ProductStoim" class="control-label"></label>
                    <input asp-for="Order.ProductStoim" class="form-control" />
                    <span asp-validation-for="Order.ProductStoim" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Order.ProductNalog" class="control-label"></label>
                    <input asp-for="Order.ProductNalog" class="form-control" />
                    <span asp-validation-for="Order.ProductNalog" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Order.SumNalog" class="control-label"></label>
                    <input asp-for="Order.SumNalog" class="form-control" />
                    <span asp-validation-for="Order.SumNalog" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Order.SumProductNalog" class="control-label"></label>
                    <input asp-for="Order.SumProductNalog" class="form-control" />
                    <span asp-validation-for="Order.SumProductNalog" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm-2">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-outline-primary" href="..\Shablons\Edit?id=@Model.Order.sheetfId">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="/Shablons/Edit" asp-route-id="@Model.Order.sheetfId">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
