@page
@model PrivacyModel
@{
    ViewData["Title"] = "ООО Открытые Системы";
}
<h4 class="display-7">Добро пожаловать в мир технологий WEB разработки</h4>
<h5>@ViewData["Title"]</h5>

<p>Програмное обеспечение разработано ООО "Открытые Системы" отдел "Развития".</p>
<p>Постановка, архитектура, дизайн: Владимир Александрович Кулеев. </p>
<p>ORM модель, SQL, C#, HTML5, CSS, JS: инженер АСУТП  Кулеев В.А.</p>
<h5>
    <p>Инструменты и технологии:</p>
</h5>
<p>Microsoft Visual Studio Enterprise 2022 (64-разрядная версия) - Current Версия 17.8.5, Visual Studio Code,</p>
<div class="text-left">
    <p>Microsoft .NET7.0, ASP.NET Core, ORM Entity Framework Core. Узнать о <a href="https://docs.microsoft.com/aspnet/core">создание Web приложений с ASP.NET Core</a>.</p>
</div>
<h5>
    <p>Разработка и тестирование в виртуализации: </p>
</h5>
<div class="text-left">
    <p>Oracle Virtual BOX 7.0.6, Package Guest Additions 7.0.6r. Узнать о <a href="https://www.virtualbox.org/">применение Oracle Virtual BOX для технологий виртуализации</a>.</p>
</div>
<h5>
<p>Сервера сервисов и приложения (конфигурация 1): </p>
</h5>
<p>Microsoft Windows Server 2022 Standart RU,  </p>
<p>Microsoft Windows SQL Server 2019 RU,</p>
<p>Microsoft Internet Information Server 10.0 RU</p>
<h5>
<p>Сервера сервисов и приложения (конфигурация 2): </p>
</h5>
<p>Microsoft Windows Server 2012 R2 EN,</p>
<p>Microsoft Windows SQL Server 2014 EN,</p>
<p>Microsoft Internet Information Server 8.5 EN</p>
<h5>
<p>Операционная система клиента, web браузеры : </p>
</h5>
<p>Microsoft Windows 10 PRO 2004 RU,</p>
<p>Microsoft Windows 10 Корпоративная LTSC RU,</p>
<p>Google Chrome Версия 113.0.5672.93 (64 бит) RU,</p>
<p>Microsoft Edge RU,</p>
<p>Microsoft Internet Expllorer 11.0 RU</p>
